.chat {
  display: flex;
  flex-direction: column;
  flex: 0.75;
  background-color: #363a3f;
  height: 100vh;
}

.chat__input {
  color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  border-top: 1px solid gray;
  background-color: #474b53;
}

.chat__messages {
  flex: 1;
  overflow-y: scroll;
}

.chat__messages > p {
  color: white;
  display: flex;
  justify-content: space-around;
  text-align: center;
  text-decoration: underline;
  font-family: "Uni-Sans-Heavy";
}

.chat__messages:-webkit-scrollbar {
  display: none;
}
.chat__messages {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat-field {
  padding: 15px;
  background: transparent;
  border: none;
  /* width: 280px; */
  display: flex;
  /* flex: 1; */
  outline-width: 0;
  color: white;
  font-size: 70%;
}

.chat__input > form {
  flex: 1;
}

.chat__inputButton {
  display: none;
}
.emoji_picker{
  padding: 4px;
  /* padding-bottom: 20px; */
}
.chat__inputIcons > .MuiSvgIcon-root {
  padding: 5px;
}
.chat__inputIcons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat__inputIcons > .MuiSvgIcon-root:hover {
  color: white;
  transition: 0.3s;
  cursor: pointer;
}
.AddCircleIcon:hover {
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.choose-channel {
  align-content: center;
  width: 350px;
  height: 72px;
}

.beginning {
  text-align: center;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.Picker {
  /* display: flex; */
  justify-content: space-around;
  align-items: center;
  padding-bottom: 12px;
  width: 70%;
  margin: 0;p
}
