@font-face {
  font-family: UniSans;
  src: url("../assets/fonts/uni-sans.heavy-caps.otf");
  font-weight: bold;
}

.modal2 {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.modal2.show {
  opacity: 1;
  pointer-events: visible;
}

.modal-content2 {
  width: 500px;
  height: 400px;
  background-color: #353434;
  transform: translateY(-200px);
  transition: all 0.3s ease-in-out;
}

.modal2.enter-done .modal-content2 {
  transform: translateY(0);
}

.modal2.exit .modal-content2 {
  transform: translateY(-200px);
}

.modal-header2 {
  display: flex;
  padding: 10px;
  background-color: #1d1c1c;
  justify-content: space-between;
}

.modal-title2 {
  margin: 6px;
  font-size: large;
  color: white;
}

.modal-body2 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid rgb(32, 32, 32);
}

.button2 {
  margin: 0;
  color: white;
  cursor: pointer;
}

.button2:hover {
  color: rgb(141, 141, 141);
  cursor: pointer;
  transition: 0.5s;
  margin: 0;
}

.user__info2 > span {
  color: grey;
}

.user__info2 {
  font-family: "UniSans";
  float: right;
  display: block;
  margin-right: 20px;
  margin-top: 20px;
  font-size: large;
  color: white;
}

.Avatar2 {
  border: 1px solid rgb(202, 196, 196);
  border-radius: 5px;
  padding: 5px;
  width: 150px;
  height: 150px;
}
