/*@font-face {
  font-family: UniSans;
  src: url("../assets/fonts/uni-sans.heavy-caps.otf");
  font-weight: bold;
}



.modal-content2 {
  display: flex;

}

.modal-body2 {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(32, 32, 32);
}

.user__info2 > span {
  color: black;
}

.user__info2 {
  font-family: "UniSans";
  float: right;
  display: block;
  margin-right: 20px;
  margin-top: 20px;
  font-size: large;
  color: black;
}

.Avatar2 {
  border: 1px solid rgb(202, 196, 196);
  border-radius: 5px;
  padding: 5px;
  width: 150px;
  height: 150px;
}
*/
