.sidebarChannel:hover > h4 {
  color: white;
  background-color: #48464b;
}
/*.divider{
  color: lightgrey;
}
*/
.sidebarChannel {
  text-decoration: none;
  display: flex;
  flex: 0.4;
  flex-direction: column;
}

.tcLink {
  padding-left: 5px;
  text-decoration: none;
  display: flex;
  flex: 0.4;
  flex-direction: column;
  transition: 0.5s;
}

.tcLink:hover {
  transition: 0.5s;
  color: white;
  background-color: #48464b;
}
.channelText {
  display: flex;
  padding-top: 5px;
  padding-left: 5px;
  font-size: small;
}
.sidebarChannel > h4 {
  display: felx;
  padding-left: 5px;
  align-items: center;
  background-color: #2f3135;
  color: gray;
  cursor: pointer;
}

.sidebarChannel__hash {
  text-decoration: none;
  font-size: 20px;
}

.vcLink {
  padding-left: 5px;
  text-decoration: none;
  display: flex;
  flex: 0.4;
  flex-direction: column;
  transition: 0.5s;
}

.vcLink:hover {
  transition: 0.5s;
  color: white;
  background-color: #48464b;
}

.vcIcon {
  padding-top: 0px;
}

/*
.sidebarVoiceChannel__hash {
  padding-top: 20px;
}
*/
