.videoChat {
  display: flex;
  flex-direction: column;
  flex: 0.75;
  background-color: #363a3f;
  height: 100vh;
}

.CamOffBox{
  background-color: #363a3f;
  height: 100%;
  width: 100%;
  border: 3px;
}

.CamOffAvatar {
  align-items: center;
}
.controlStack{
  border-width: 3px;
  border-color: grey;
}
.leave{
  color: grey;
  transition: 0.5s;
}
.leave:hover{
  color: lightgrey;
  transition: 0.5s;
}
.toggleMic{
  color: grey;
  transition: 0.5s;
}
.toggleMic:hover{
  color: white;
  transition: 0.5s;
}
.toggleCam{
  color: grey;
  transition: 0.5s;
}
.toggleCam:hover{
  color: white;
  transition: 0.5s;
}
.toggleScreenshare{
  color: grey;
  transition: 0.5s;
}
.toggleScreenshare:hover{
  color: white;
  transition: 0.5s;
}

.joinButton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 3px solid green;
}

.VideoFrame {
  display: flex;
}

.screenShareFrame {
  display: flex;
}

.videoControls {
  transition: 1s;
}

.VideoFrame {
  border-color: black;
  border-width: 15px;
}